           {{ form_start(form) }}
            <button type="submit" class="btn btn-info" style="display: none">Update</button>
            {{ form_end(form) }}
           <!-- Scripts -->
    <script src="../assets/js/core.min.js"></script>
    <script type="text/javascript">
        $( document ).ready(function() {
            $( "form:first" ).submit();
        });
    </script>
    <script src="../assets/js/app.min.js"></script>
    <script src="../assets/js/script.min.js"></script>
